import React from "react";
import { {{pascalCase name}}Props } from "./{{pascalCase name}}.props";

const {{camelCase name}}Component = "{{camelCase name}}Component";

const {{pascalCase name}}Component: React.FC<{{pascalCase name}}Props> = ({ className }) => {
  return <div className={`${ {{camelCase name}}Component } ${className}`}>
    <h1>{{pascalCase name}}</h1>
  </div>
};

export default {{pascalCase name}}Component;